



<h4>Proyecto <small>{{ solicitud?.proyecto.nombre }}</small></h4>
<hr>

<!-- =====================
== BOTÓN REGRESAR
======================= -->
<div class="row text-right">
    <div class="col">
        <button class="btn btn-danger"
            routerLink="/dashboard/proyecto-personal">
            <i class="fas fa-arrow-left mr-2"></i>Regresar
        </button>
    </div>
</div>
<!-- =====================
== FIN BOTÓN REGRESAR
======================= -->   



<!-- =====================
== ALERT
======================= -->   
<div class="row animated fadeIn faster mt-3">
  <div class="col-12">
      <div class="alert alert-info">
          <p class="m-0">En caso de no encontrar la Dependencia comuniquese con el <strong>Departamento de Gestión y Vinculación</strong>.</p>
      </div> 
  </div>
</div>
<!-- =====================
== FIN ALERT
======================= -->   




<!-- =====================
== FORMULARIO PROYECTO
======================= --> 

<div class="row animated fadeIn faster m-3">
    <div class="col">

      <h5>Información del Proyecto</h5>

      <br>

      <form [formGroup]="solicitudForm"
            (submit)="guardar()"
            autocomplete="off">

        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Nombre del Proyecto</label>
            <input type="text" 
                   class="form-control" 
                   [ngClass]="{'is-invalid': campoNoValido('nombre') }"
                   placeholder="Nombre del Proyecto"
                   formControlName="nombre">
            <div *ngIf="campoNoValido('nombre')" class="invalid-feedback">
              {{ mensajesError('nombre') }}
            </div>
          </div>
          <div class="form-group col-md-6">
            <label>Dependencia</label>
            <select class="custom-select mr-sm-2"
                    [ngClass]="{'is-invalid': campoNoValido('dependencia') }"
                    formControlName="dependencia">
              <option value="">SELECCIONAR DEPENDENCIA</option>
              <option *ngFor="let dependencia of dependencias"
                        [value]="dependencia._id">
                        {{ dependencia.nombre }}
              </option>
            </select>      
            <div *ngIf="campoNoValido('dependencia')" class="invalid-feedback">
              {{ mensajesError('dependencia') }}
            </div>    
          </div>
          
        </div>


        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Objetivo</label>
            <textarea
                   class="form-control" 
                   [ngClass]="{'is-invalid': campoNoValido('objetivo') }"
                   placeholder="Objetivo"
                   rows="3"
                   formControlName="objetivo"></textarea>
            <div *ngIf="campoNoValido('objetivo')" class="invalid-feedback">
              {{ mensajesError('objetivo') }}
            </div>
          </div>
          <div class="form-group col-md-6">
            <label>Actividades a desarrollar</label>
            <textarea 
                   class="form-control" 
                   [ngClass]="{'is-invalid': campoNoValido('actividades') }"
                   placeholder="Actividades a desarrollar"
                   rows="3"
                   formControlName="actividades"></textarea>
            <div *ngIf="campoNoValido('actividades')" class="invalid-feedback">
              {{ mensajesError('actividades') }}
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-4">
            <label>Lugar de desempeño</label>
            <input type="text" 
                   class="form-control" 
                   placeholder="Lugar de desempeño"
                   [ngClass]="{'is-invalid': campoNoValido('lugar_desempeno') }"
                   formControlName="lugar_desempeno">
            <div *ngIf="campoNoValido('lugar_desempeno')" class="invalid-feedback">
              {{ mensajesError('lugar_desempeno') }}
            </div>
          </div>
          <div class="form-group col-md-4"> 
            <label>¿Dentro de las instalaciones?</label>
            <select class="custom-select mr-sm-2"
                  [ngClass]="{'is-invalid': campoNoValido('instalacion') }"
                  formControlName="instalacion">
            <option value="">SELECCIONAR OPCIÓN</option>
            <option [ngValue]="false">NO</option>
            <option [ngValue]="true">SI</option>
          </select>    
        </div>
          <div class="form-group col-md-4">
            <label>Modalidad</label>
            <input type="text" 
                   class="form-control" 
                   [ngClass]="{'is-invalid': campoNoValido('modalidad') }"
                   placeholder="Modalidad"
                   formControlName="modalidad">
            <div *ngIf="campoNoValido('modalidad')" class="invalid-feedback">
              {{ mensajesError('modalidad') }}
            </div>
          </div>
        </div>


        <div class="form-row">
          <div class="form-group col-md-4">
            <label>Tipo</label>
            <select class="custom-select mr-sm-2"
                    [ngClass]="{'is-invalid': campoNoValido('tipo') }"
                    formControlName="tipo">
              <option value="">SELECCIONAR TIPO</option>
              <option value="Actividades deportivas">Actividades deportivas</option>
              <option value="Actividades cívicas">Actividades cívicas</option>
              <option value="Actividades culturales">Actividades culturales</option>
              <option value="Apoyo a la salud">Apoyo a la salud</option>
              <option value="Desarrollo de comunidad">Desarrollo de comunidad</option>
              <option value="Desarrollo sustentable">Desarrollo sustentable</option>
              <option value="Educación para adultos">Educación para adultos</option>
              <option value="Medio ambiente">Medio ambiente</option>
              <option value="Otro">Otro</option>
            </select>      
            <div *ngIf="campoNoValido('dependencia')" class="invalid-feedback">
              {{ mensajesError('dependencia') }}
            </div>    
          </div>
          <div class="form-group col-md-4">
            <label>Horario</label>
            <input type="text" 
                   class="form-control" 
                   [ngClass]="{'is-invalid': campoNoValido('horario') }"
                   placeholder="Horario"
                   formControlName="horario">
            <div *ngIf="campoNoValido('horario')" class="invalid-feedback">
              {{ mensajesError('horario') }}
            </div> 
          </div>
          <div class="form-group col-md-4"> 
            <label>Apoyo económico</label>
            <select class="custom-select mr-sm-2"
                  [ngClass]="{'is-invalid': campoNoValido('apoyo_economico') }"
                  formControlName="apoyo_economico">
              <option value="">SELECCIONAR OPCIÓN</option>
              <option [ngValue]="false">NO</option>
              <option [ngValue]="true">SI</option>
            </select>    
          </div>
        </div>


        <div class="form-row">
            <div class="form-group col-md-6">
              <label>Nombre del Responsable</label>
              <input type="text" 
                     class="form-control" 
                     [ngClass]="{'is-invalid': campoNoValido('responsable') }"
                     placeholder="Nombre del Responsable"
                     formControlName="responsable">
              <div *ngIf="campoNoValido('responsable')" class="invalid-feedback">
                {{ mensajesError('responsable') }}
              </div> 
            </div>           
            <div class="form-group col-md-6">
              <label>Puesto del responsable</label>
              <input type="text" 
                     class="form-control" 
                     [ngClass]="{'is-invalid': campoNoValido('puesto_responsable') }"
                     placeholder="Puesto del responsable"
                     formControlName="puesto_responsable">
              <div *ngIf="campoNoValido('puesto_responsable')" class="invalid-feedback">
                {{ mensajesError('puesto_responsable') }}
              </div> 
            </div>
          </div>


          <hr>

          <h6>Fecha en la que desea realizar servicio social.</h6>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Fecha inicio</label>
              <input type="date"
                     #fecha 
                     class="form-control" 
                     [ngClass]="{'is-invalid': campoNoValido('inicio_servicio') }"
                     formControlName="inicio_servicio"
                     (ngModelChange)="cambiarFecha( fecha.value )">
              <div *ngIf="campoNoValido('inicio_servicio')" class="invalid-feedback">
                {{ mensajesError('inicio_servicio') }}
              </div> 
            </div>           
            <div class="form-group col-md-6">
              <label>Fecha termino</label>
              <input type="date" 
                     class="form-control" 
                     [ngClass]="{'is-invalid': campoNoValido('termino_servicio') }"
                     formControlName="termino_servicio">
              <div *ngIf="campoNoValido('termino_servicio')" class="invalid-feedback">
                {{ mensajesError('termino_servicio') }}
              </div> 
            </div>
          </div>
 
          

        <div class="row" *ngIf="!solicitud || solicitud?.rechazado">
          <div class="col-md-6">
            <button class="btn btn-primary btn-block"
                    type="submit">
            <i class="fas fa-save mr-2"></i>Guardar    
            </button>
          </div>
        </div> 


      </form>

    </div>

</div>
<!-- =====================
== FIN FORMULARIO PROYECTO
======================= --> 
 