
<!-- =====================
== AVISO PRIVACIDAD
======================= --> 
<app-aviso-privacidad *ngIf="showModal"
                  (emitirCerrar)="addCerrar($event)"
                    [nombre] ="usuario.nombre"></app-aviso-privacidad>
<!-- =====================
== FIN AVISO PRIVACIDAD 
======================= --> 



<h4>Mi pefil</h4>

<hr>

<!-- =====================
== ALERTA
======================= --> 
<div class="row animated fadeIn faster mt-3" >
  <div class="col-12">
      <div class="alert alert-info">
          <p class="m-0">Debes completar tu perfil.</p>
      </div> 
  </div>
</div>
<!-- =====================
== FIN ALERTA
======================= --> 


<!-- =====================
== FOTOGRAFIA
======================= --> 
<div class="row animated fadeIn faster m-3 d-flex justify-content-center">

  <div class="col-md-6">

    <div class="card border-0">
            
      <h5>Fotografía</h5>
      

      <div class="d-flex justify-content-center">
        <img *ngIf="!fotoTemporal" [src]="usuario.fotoUrl" [alt]="usuario.nombre" class="w-50 h-50" >
        <img *ngIf="fotoTemporal" [src]="fotoTemporal" [alt]="usuario.nombre" class="w-50 h-50" >
      </div>

      <br>
   
      <input type="file"
          (change)="changeFoto( $event?.target?.files[0] )">

      <hr>

      <button class="btn btn-success btn-block"
          [disabled]="!fotoSubir"
          (click)="uploadFoto()">
          Subir fotografía
      </button>

  
    </div>
  
  </div>
  

</div>
<!-- =====================
== FIN FOTOGRAFIA
======================= --> 


<!-- =====================
== FORMULARIO ALUMNO
======================= --> 

<div class="row animated fadeIn faster m-3">
    <div class="col">

      <h5>Mis Datos</h5>
      <br>
      <h6>Datos Personales</h6>

      <form [formGroup]="usuarioForm"
            (submit)="guardar()"
            autocomplete="off">

        <div class="form-row">
          <div class="form-group col-md-4">
            <label>Nombre</label>
            <input type="text" 
                   class="form-control"
                   formControlName="nombre"
                   readonly>
          </div>
          <div class="form-group col-md-4">
            <label>Apellido Paterno</label>
            <input type="text" 
                   class="form-control"
                   formControlName="apellido_paterno"
                   readonly>
          </div>
          <div class="form-group col-md-4">
            <label>Apellido Materno</label>
            <input type="text" 
                   class="form-control"
                   formControlName="apellido_materno"
                   readonly>
          </div>
        </div>


        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Sexo</label>
            <input type="text" 
                   class="form-control"
                   formControlName="sexo"
                   readonly>
          </div>
          <div class="form-group col-md-6">
            <label>Fecha de nacimiento</label>
            <input type="text" 
                   class="form-control"
                   formControlName="fecha_nacimiento"
                   readonly>
          </div>
        </div>



        <div class="form-row">
          <div class="form-group col-md-3">
            <label>Teléfono</label>
            <input type="text" 
                   class="form-control"
                   [ngClass]="{'is-invalid': campoNoValido( usuarioForm, 'telefono') }"
                   placeholder="Teléfono"
                   formControlName="telefono">
             <div *ngIf="campoNoValido( usuarioForm, 'telefono')" class="invalid-feedback">
              {{ mensajesError( usuarioForm, 'telefono') }}
            </div>
          </div>
          <div class="form-group col-md-5">
            <label>Correo electrónico</label>
            <input type="text" 
                   class="form-control"
                   [ngClass]="{'is-invalid': campoNoValido( usuarioForm, 'email') }"
                   placeholder="ejemplo@ejemplo.com"
                   formControlName="email">
            <div *ngIf="campoNoValido( usuarioForm, 'email')" class="invalid-feedback">
              {{ mensajesError( usuarioForm, 'email') }}
            </div>
          </div>
          <div class="form-group col-md-4">
            <label>Número de Seguro Social</label>
            <input type="text" 
                   class="form-control"
                   [ngClass]="{'is-invalid': campoNoValido( usuarioForm, 'numero_seguro') }"
                   placeholder="Número de Seguro social"
                   formControlName="numero_seguro">
             <div *ngIf="campoNoValido( usuarioForm, 'numero_seguro')" class="invalid-feedback">
              {{ mensajesError( usuarioForm, 'numero_seguro') }}
            </div>
          </div>
        </div>

        
        <p>Domicilio Completo</p>
        <div class="form-row"  formGroupName="domicilio">

          <div class="form-group col-md-4">
            <label>Calle y Numero</label>
            <input type="text" 
                   class="form-control"
                   [ngClass]="{'is-invalid': campoNoValido( usuarioForm, 'calle_numero', 'domicilio') }"
                   placeholder="Calle y Numero"
                   formControlName="calle_numero">
             <div *ngIf="campoNoValido( usuarioForm, 'calle_numero', 'domicilio')" class="invalid-feedback">
              {{ mensajesError( usuarioForm, 'calle_numero', 'domicilio') }}
            </div>
          </div>
          <div class="form-group col-md-4">
            <label>Colonia</label>
            <input type="text" 
                   class="form-control"
                   [ngClass]="{'is-invalid': campoNoValido( usuarioForm, 'colonia', 'domicilio') }"
                   placeholder="Colonia"
                   formControlName="colonia">
             <div *ngIf="campoNoValido( usuarioForm, 'colonia', 'domicilio')" class="invalid-feedback">
              {{ mensajesError( usuarioForm, 'colonia', 'domicilio') }}
            </div>
          </div>
          <div class="form-group col-md-4">
            <label>Ciudad y Estado</label>
            <input type="text" 
                   class="form-control"
                   [ngClass]="{'is-invalid': campoNoValido( usuarioForm, 'ciudad_estado', 'domicilio') }"
                   placeholder="Ciudad y Estado"
                   formControlName="ciudad_estado">
             <div *ngIf="campoNoValido( usuarioForm, 'ciudad_estado', 'domicilio')" class="invalid-feedback">
              {{ mensajesError( usuarioForm, 'ciudad_estado', 'domicilio') }}
            </div>
          </div>
          
        </div>

        <br>
        <h6>Datos Académicos</h6>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label>No. de control</label>
            <input type="text" 
                   class="form-control"
                   formControlName="numero_control"
                   readonly>
          </div>
          <div class="form-group col-md-6">
            <label>Carrera</label> 
            <input type="text" 
                   class="form-control"
                   formControlName="carrera"
                   readonly> 
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-3">
            <label>Semestre</label>
            <input type="number"
                   class="form-control"
                   formControlName="semestre"
                   readonly>
            <div class="invalid-feedback">
              Mensjae errpr
            </div>   
          </div>
          <div class="form-group col-md-3">
            <label>Periodo</label>
            <input type="text" 
                   class="form-control"
                   formControlName="periodo"
                   readonly>
          </div>
          <div class="form-group col-md-3">
            <label>Creditos Acumulados</label>
            <input type="text" 
                   class="form-control"
                   formControlName="creditos_acumulados"
                   readonly>
          </div>
          <div class="form-group col-md-3">
            <label>Porcentaje Avance</label>
            <input type="text" 
                   class="form-control"
                   formControlName="porcentaje_avance"
                   readonly>
          </div>
        </div>

        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input"
                   type="checkbox"
                   formControlName="terminos">
            <label class="form-check-label">
              He leído y acepto la <a class="text-primary manita" (click)="abrirModal()">Política de privacidad</a> al respecto del tratamiento de datos personales.
            </label>
            <div *ngIf="campoNoValido( usuarioForm, 'terminos')" >
              <small class="text-danger">Debe aceptar la Política de privacidad.</small>
            </div>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-6">
            <button class="btn btn-primary btn-block"
                    type="submit">
            <i class="fas fa-save mr-2"></i>Guardar    
            </button>
          </div>
        </div>

      </form>

    </div>

</div>
<!-- =====================
== FIN FORMULARIO ALUMNO
======================= --> 



<!-- =====================
== CAMBIAR CONTRASEÑA
======================= -->
<!-- <div class="row animated fadeIn faster m-3">

  <div class="col-md-6">

      <h5>Cambiar contraseña</h5>

           
          <form [formGroup]="changePasswordForm"
                autocomplete="off"
                (submit)="cambiarPassword()">

                  <div class="form-group">
                      <label>Contraseña anterior</label>
                      <input type="password"
                          class="form-control"
                          [ngClass]="{'is-invalid': campoNoValido( changePasswordForm, 'old_password') }"
                          placeholder="Contraseña anterior"
                          formControlName="old_password">
                          <div *ngIf="campoNoValido( changePasswordForm, 'old_password')" class="invalid-feedback">
                              {{ mensajesError( changePasswordForm, 'old_password') }}
                          </div>
                  </div>
      
      
                  <div class="form-group">
                      <label>Nueva contraseña</label>
                      <input type="password"
                          class="form-control"
                          [ngClass]="{'is-invalid': campoNoValido( changePasswordForm, 'new_password') }"
                          placeholder="Nueva contraseña"
                          formControlName="new_password">
                          <div *ngIf="campoNoValido( changePasswordForm, 'new_password')" class="invalid-feedback">
                              {{ mensajesError( changePasswordForm, 'new_password') }}
                          </div>
                  </div>

                  <div class="form-group">
                      <label>Confirmar contraseña</label>
                      <input type="password"
                          class="form-control"
                          [ngClass]="{'is-invalid': campoNoValido( changePasswordForm, 'confirm_password') }"
                          placeholder="Confirmar contraseña"
                          formControlName="confirm_password">
                          <div *ngIf="campoNoValido( changePasswordForm, 'confirm_password')" class="invalid-feedback">
                              {{ mensajesError( changePasswordForm, 'confirm_password') }}
                          </div>
                  </div>

                  <hr>

                  <div class="form-group text-center">
                      <button type="submit"
                              class="btn btn-primary btn-block">
                      Cambiar contraseña  
                      </button>
                  </div>

              </form>

      
  </div>

</div> -->

<!-- =====================
== FIN CAMBIAR CONTRASEÑA
======================= -->





<app-signature-pad></app-signature-pad>





 

<!-- <div class="row animated fadeIn faster m-3">
  <div class="col">

    <h5>Datos de mi Programa</h5>
    <br> -->


    <!-- =====================
    == ALERTA
    ======================= --> 
    <!-- <div class="alert alert-warning" role="alert" *ngIf="!usuario.proyecto">
     Aun no tienes un proyecto asignado. 
      <a routerLink="/dashboard/proyectos" class="alert-link">Ir a Banco de Proyectos.</a>
    </div>


    <div class="card" *ngIf="usuario.proyecto">
      <div class="card-body">
        <div class="modal-body">

          <ul class="list-group text-dark mb-3">
            <li class="list-group-item active">{{usuario.proyecto.nombre}}</li>
            <li class="list-group-item">{{usuario.proyecto.dependencia.nombre}}</li>
            <li class="list-group-item">{{usuario.proyecto.objetivo}}</li>
            <li class="list-group-item">{{usuario.proyecto.actividades}}</li>
            <li class="list-group-item">{{usuario.proyecto.periodo}}</li>
          </ul>

        </div>
      </div>
    </div> -->
    <!-- =====================
    == FIN ALERTA
    ======================= --> 
<!-- 
  </div>
</div> -->