
<h4>Mi expediente</h4>

<hr>

<!-- =====================
== ALERTA PERFIL COMPLETO
======================= --> 
<div class="row animated fadeIn m-3" *ngIf=" !isCompleto">
  <div class=" col alert alert-warning" role="alert">
    <p class="mb-0" *ngIf="!usuario.terminos">• Es necesario que completes tus datos personales.</p>
    <p class="mb-0" *ngIf="!usuario.firma">• Es necesario que tengas una firma digital.</p>
    <p class="mb-0" *ngIf="!usuario.foto">• Es necesario que tengas una fotografía.</p>
    <a routerLink="/dashboard/perfil" class="alert-link">Ir a Mi Perfil.</a>
  </div>
</div>
<!-- =====================
== FIN ALERTA PERFIL COMPLETO
======================= --> 
<!-- =====================
== ALERTA NO TIENE PROYECTO
======================= --> 
<div class="row animated fadeIn m-3" *ngIf="!cargando && isCompleto && !proyecto" >
  <div class=" col alert alert-warning" role="alert">
    <p class="mb-0">Para poder abrir un expediente tienes que tener asignado un Proyecto.
    <a routerLink="/dashboard/proyectos" class="alert-link">Ir a Banco de Proyectos.</a></p>
  </div>
</div>
<!-- =====================
== FIN ALERTA NO TIENE PROYECTO
======================= --> 


<!-- =====================
== ALERTA PROYECTO ASIGNADO
======================= --> 
<div class="row animated fadeIn m-3" *ngIf="!cargando && isCompleto && proyecto && !expediente" >
  <div class=" col alert alert-warning" role="alert">
    <p class="mb-0">Ya se ha aceptado tu Solicitud de Servicio Social. Espera a que el administrador habilite la apertura del expediente.
  </div>
</div>
<!-- =====================
== FIN ALERTA PROYECTO ASIGNADO
======================= --> 


<!-- =====================
== DATOS DEL EXPEDIENTE
======================= --> 
<div class="row animated fadeIn" *ngIf="!cargando && expediente">
  <div class="col-lg-8 col-md-6 col-sm-12">
    <p class="m-0">Fecha de apertura: {{ expediente.fecha_inicio | date: 'dd MMMM yyyy' }}</p>
  </div>
  <!-- <div class="col-lg-4 col-md-6 col-sm-12">
    <div class="progress">
      <div class="progress-bar progress-bar-striped  progress-bar-animated" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
    </div>
  </div> -->
</div>

<!-- =====================
== DATOS DEL EXPEDIENTE
======================= --> 



<!-- =====================
== TABLA
======================= --> 
<div class="row animated fadeIn m-3" *ngIf="!cargando && expediente">
  <div class="col-12">
 
              <div class="table-responsive">
                  <table class="table table-borderless table-hover">
                      <thead class="text-primary">
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col" style="width: 400px;">Archivo</th>
                          <th scope="col">Fecha máxima de entrega</th>
                          <th scope="col">Estado</th>
                          <th scope="col">Ver</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of expediente?.items;" class="manita" >
                          <!-- <ng-container *ngIf="item.disponible"> -->
                            <td>{{ item.numero }}</td>
                            <td>{{ item.titulo }}</td>
                            <td>{{ item.fecha_limite | date }}</td>
                            <td>
                              <span *ngIf="item.aceptado" class="badge badge-pill badge-success p-1">Aceptado</span>
                              <span *ngIf="item.rechazado" class="badge badge-pill badge-danger p-1">Rechazado</span>
                              <span *ngIf="item.pendiente" class="badge badge-pill badge-warning text-white p-1">En revisión</span>
                              <span *ngIf="item.entrante && item.disponible" class="badge badge-pill badge-info p-1">Entrante</span>
                              <span *ngIf="!item.iniciado && item.disponible" class="badge badge-pill badge-secondary p-1">No iniciado</span>
                              <span *ngIf="!item.disponible">No disponible</span>
                            </td>
                            <td><a class="btn btn-sm btn-info" [routerLink]="['/dashboard/expediente', item._id]" >Ver</a></td>
                          <!-- </ng-container> -->
                        </tr>
                    
                      </tbody>
                  </table>    
              </div>
  
  </div>
</div> 
<!-- =====================
== FIN TABLA
======================= --> 

