
<h4>Mi expediente</h4>

<hr>


<!-- =====================
== ALERTA
======================= --> 
<div *ngIf="!usuario.proyecto" class="alert alert-warning" role="alert">
    Antes de comenzar debes seleccionar un proyecto.
    <a routerLink="/dashboard/proyectos" class="alert-link">Ir a Banco de Proyectos.</a>
</div>
<!-- =====================
== FIN ALERTA
======================= --> 


<div class="row" *ngIf="expediente">
  <div class="col-lg-8 col-md-6 col-sm-12">
    <p>Fecha de creación: {{expediente.created_at | date: 'dd MMMM yyyy' }}</p>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12">
    <div class="progress">
      <div class="progress-bar progress-bar-striped  progress-bar-animated" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
    </div>
  </div>
</div>


<!-- =====================
== TABLA
======================= --> 
<div class="row mb-5 mt-3"  *ngIf="expediente">
  <div class="col-12">
 
              <div class="table-responsive">
                  <table class="table table-borderless table-hover mt-3 animated fadeIn faster">
                      <thead class="text-primary">
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col" style="width: 400px;">Archivo</th>
                          <th scope="col">Fecha máxima de entrega</th>
                          <th scope="col">Estado</th>
                          <th scope="col">Ver</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of expediente.items;" class="manita" >
                          <ng-container *ngIf="item.disponible">
                            <td>{{ item.numero }}</td>
                            <td>{{ item.titulo }}</td>
                            <td>CUALQUIERCOSA</td>
                            <td>
                              <span *ngIf="item.aprobado" class="badge badge-pill badge-success p-1">Aprobado</span>
                              <span *ngIf="item.rechazado" class="badge badge-pill badge-danger p-1">Rechazado</span>
                              <span *ngIf="item.revision" class="badge badge-pill badge-warning text-white p-1">En revisión</span>
                              <span *ngIf="item.entrante" class="badge badge-pill badge-info p-1">Entrante</span>
                              <span *ngIf="!item.iniciado && item.disponible" class="badge badge-pill badge-secondary p-1">No iniciado</span>
                            </td>
                            <td><a class="btn btn-info" [routerLink]="['/dashboard/expediente', item.codigo, item._id]" >Ver</a></td>
                          </ng-container>
                        </tr>
                    
                      </tbody>
                  </table>    
              </div>
  
  </div>
</div>
<!-- =====================
== FIN TABLA
======================= --> 