
<h5>{{ item?.titulo }}
  <small>
    <span *ngIf="item?.pendiente" class="badge badge-pill badge-warning text-white text-capitalize p-1 ml-1">Pendiente</span>
    <span *ngIf="!item?.iniciado" class="badge badge-pill badge-secondary text-white text-capitalize p-1 ml-1">No iniciado</span>
    <span *ngIf="item?.rechazado" class="badge badge-pill badge-danger text-white text-capitalize p-1 ml-1">Rechazado</span>
    <span *ngIf="item?.aceptado" class="badge badge-pill badge-success text-white text-capitalize p-1 ml-1">Aceptado</span>
  </small>
</h5>
<hr>

<!-- =====================
== MENSAJE GENERAR ARCHIVO
======================= -->
<div class="row animated fadeIn faster mt-3" *ngIf="!cargando && !item?.pendiente && !item?.rechazado && !item?.aceptado">
    <div class="col-12">
        <div class="alert alert-info">
            <p class="m-0">Da click en <strong>Generar Archivo</strong> para generar y enviar tu <strong>{{item?.titulo}}</strong> a revisión.</p>
        </div> 
    </div>
  </div>
<!-- =====================
== FIN MENSAJE GENERAR ARCHIVO
======================= -->


<!-- =====================
== MENSAJE PENDIENTE
======================= -->
<div class="row animated fadeIn faster mt-3" *ngIf="!cargando && this.item?.pendiente">
  <div class="col-12">
      <div class="alert alert-warning">
          <p class="m-0">Tu <strong>{{item?.titulo}}</strong> se ha generado y enviado al <strong>Departamento de Gestión y Vinculación</strong> para su revisión y aprobación. Puedes descargar tu archivo <a href="" class="alert-link">aquí.</a></p>
      </div> 
  </div>
</div>
<!-- =====================
== FIN MENSAJE PENDIENTE
======================= -->

<!-- =====================
== MENSAJE SOLICITUD RECHAZADA
======================= -->
<div class="row animated fadeIn faster mt-3" *ngIf="!cargando && this.item?.rechazado">
  <div class="col-12">
      <div class="alert alert-danger">
          <p class="m-0">Tu <strong>{{item?.titulo}}</strong> ha sido <strong>rechazada</strong>. Verifica tus datos y vuelve a generar tu archivo. Puedes descargar tu archivo <a href="" class="alert-link">aquí.</a></p>
          <p class="m-0"><strong>Motivo:</strong> {{ item?.error?.motivo }}</p>
          <p class="m-0"><strong>Observación:</strong> {{ item?.error?.observacion }}</p>
      </div> 
  </div>
</div>
<!-- =====================
== FIN MENSAJE SOLICITUD RECHAZADA
======================= -->

<!-- =====================
== MENSAJE SOLICITUD ACEPTADA
======================= -->
<div class="row animated fadeIn faster mt-3" *ngIf="!cargando && this.item?.aceptado">
  <div class="col-12">
      <div class="alert alert-success">
          <p class="m-0">Tu <strong>{{item?.titulo}}</strong> ha sido <strong>aceptada</strong>. Puedes descargar tu archivo <a href="" class="alert-link">aquí.</a></p>
      </div> 
  </div>
</div>
<!-- =====================
== FIN MENSAJE SOLICITUD ACEPTADA
======================= -->




<!-- =====================
== VISTA DOCUMENTO
======================= -->
<ngx-doc-viewer *ngIf="item?.archivo || item?.archivoTemp"
  url="https://www.gob.mx/guiasinteroperabilidad/contenido_gral/formatos_gral/formato_g14_f4.docx"
  viewer="office" 
  style="width:100%;height:80vh;">
</ngx-doc-viewer>
<!-- ===================== 
== FIN VISTA DEL DOCUMENTO
======================= -->




<!-- ===================== 
== BOTÓN GENERAR ARCHIVO
======================= -->
<div class="row d-flex justify-content-center" *ngIf="!cargando && !item?.aceptado && !item?.pendiente">
    <div class="col-md-4 text-center">
        <button class="btn btn-success btn-block"
                (click)="generarDocumento()">Generar Archivo</button> 
    </div>
</div>
<!-- ===================== 
== FIN BOTÓN GENERAR ARCHIVO
======================= -->




<!-- =====================
== UPLOAD
======================= --> 
<div class="row animated fadeIn faster m-3" *ngIf="!cargando && item?.reenvio_required && item?.archivoTemp">

    <div class="col-md-6">
  
      <div class="card border-0">
              
        <h5>Archivo</h5>
  
        <br>
     
        <input type="file"
            (change)="changeArchivo( $event?.target?.files[0] )">
  
        <hr>
  
        <button class="btn btn-success btn-block"
        [disabled]="!archivoSubir" 
            (click)="uploadFoto()">
            Subir fotografía
        </button>

  
    
      </div>
    
    </div>
    
  
  </div>
  <!-- =====================
  == FIN UPLOAD
  ======================= --> 


  <br>