<h4>Solicitud de Servicio Social
  <small>
          <span *ngIf="solicitud?.pendiente" class="badge badge-pill badge-warning text-white text-capitalize p-1 ml-1">Pendiente</span>
          <span *ngIf="solicitud?.rechazado" class="badge badge-pill badge-danger text-white text-capitalize p-1 ml-1">Rechazado</span>
          <span *ngIf="solicitud?.aceptado" class="badge badge-pill badge-success text-white text-capitalize p-1 ml-1">Aceptado</span>
  </small>
</h4>
  
<hr>

<!-- =====================
== BOTÓN REGRESAR
======================= -->
<div class="row text-right">
  <div class="col">
      <button class="btn btn-danger"
          routerLink="/dashboard/proyectos">
          <i class="fas fa-arrow-left mr-2"></i>Regresar
      </button>
  </div>
</div>
<!-- =====================
== FIN BOTÓN REGRESAR
======================= -->   

 
<!-- =====================
== MENSAJE SOLICITUD PENDIENTE
======================= -->
<div class="row animated fadeIn faster m-0 mt-3 m-md-3" *ngIf="solicitud?.pendiente">
    <div class="col-12">
        <div class="alert alert-warning">
            <p class="m-0">Tu <strong>Solicitud de Servicio Social</strong> se ha enviado al <strong>Depto. de Gestión Tecnológica y Vinculación</strong> para su revisión, te informaremos cuando tengamos una respuesta.</p>
        </div> 
    </div>
  </div>
<!-- =====================
== FIN MENSAJE SOLICITUD PENDIENTE
======================= -->
<!-- =====================
== MENSAJE SOLICITUD RECHAZADA
======================= -->
<div class="row animated fadeIn faster m-0 mt-3 m-md-3" *ngIf="solicitud?.rechazado">
    <div class="col-12">
        <div class="alert alert-danger">
            <p class="m-0">Tu <strong>Solicitud de Servicio Social</strong> ha sido <strong>rechazada</strong>.</p>
            <p class="m-0"><strong>Motivo:</strong> {{ solicitud?.error?.motivo }}</p>
            <p class="m-0"><strong>Observación:</strong> {{ solicitud?.error?.observacion }}</p>
        </div> 
    </div>
  </div>
<!-- =====================
== FIN MENSAJE SOLICITUD RECHAZADA
======================= -->

<!-- =====================
== MENSAJE SOLICITUD ACEPTADA
======================= -->
<div class="row animated fadeIn faster m-0 mt-3 m-md-3" *ngIf="solicitud?.aceptado">
    <div class="col-12">
        <div class="alert alert-success">
            <p class="m-0">Tu <strong>Solicitud de Servicio Social</strong> ha sido <strong>aceptada</strong>.</p>
        </div> 
    </div>
  </div>
<!-- =====================
== FIN MENSAJE SOLICITUD ACEPTADA
======================= -->


<!-- =====================
== VISTA ARCHIVO
======================= --> 
<div class="row animated fadeIn faster m-0 mt-3 m-md-3">
  <ngx-extended-pdf-viewer class="col-12" *ngIf="solicitud?.archivo" [src]="solicitud.archivo | archivo" useBrowserLocale="true" height="70vh"></ngx-extended-pdf-viewer>
</div>
<!-- =====================
== FIN VISTA ARCHIVO
======================= -->


<!-- =====================
== INFORMACIÓN
======================= -->
<div *ngIf="solicitud &&!solicitud.aceptado">

  <div class="row animated fadeIn fast m-0 mt-3 m-md-3">
    <div class="col-12">
  
      <h6>Fecha de Servicio Social</h6>
  
      <p class="m-0"><strong>Inicio: </strong>{{ solicitud.inicio_servicio | date }}</p>
      <p class="m-0"><strong>Termino: </strong>{{ solicitud.termino_servicio | date }}</p>
  
    </div>
  </div>
  
  
  
  <div class="row animated fadeIn fast m-0 mt-3 m-md-3">
    <div class="col-sm-12 col-md card m-2 p-0 shadow-sm">
      <div class="card-body">
        <h6 class="card-title">Datos de la Dependencia</h6>

        <hr>
          <p class="m-0"><strong>Nombre</strong></p>
          <p class="m-0 mb-1">{{solicitud.proyecto.dependencia.nombre}}</p>
  
          <p class="m-0"><strong>Representante legal</strong></p>
          <p class="m-0 mb-1">{{solicitud.proyecto.dependencia.representante_legal}}</p>
  
          <p class="m-0"><strong>Domicilio</strong></p>
          <p class="m-0 mb-1">{{solicitud.proyecto.dependencia.domicilio}}</p>
  
          <p class="m-0"><strong>Correo electrónico</strong></p>
          <p class="m-0 mb-1">{{solicitud.proyecto.dependencia.email}}</p>

          <p class="m-0"><strong>Teléfono</strong></p>
          <p class="m-0 mb-1">{{solicitud.proyecto.dependencia.telefono}}</p>
      </div>
    </div>
  
    <div class="col-sm-12 col-md card m-2 mt-3 mt-md-2 p-0 shadow-sm">
      <div class="card-body">
        <h6 class="card-title">Datos del Responsable del Programa</h6>
        
        <hr>

        <p class="m-0"><strong>Nombre</strong></p>
        <p class="m-0 mb-1">{{solicitud.proyecto.responsable}}</p>
  
        <p class="m-0"><strong>Puesto</strong></p>
        <p class="m-0 mb-1">{{solicitud.proyecto.puesto_responsable}}</p>
  
        <p class="m-0"><strong>Correo eléctronico</strong></p>
        <p class="m-0 mb-1">{{solicitud.proyecto.email_responsable}}</p>
  
        <p class="m-0"><strong>Teléfono</strong></p>
        <p class="m-0 mb-1">{{solicitud.proyecto.telefono_responsable}}</p>
  
      </div>
    </div>
  </div>
  
  
  <div class="row animated fadeIn fast m-0 mt-3 m-md-3">
  
    <div class="col card m-2 p-0 shadow-sm">
      <div class="card-body">
        <h6 class="card-title">Descripción del Programa</h6>
  
          <hr>  

          <p class="m-0"><strong>Objetivo</strong></p>
          <p class="m-0 mb-1">{{solicitud.proyecto.objetivo}}</p>
  
          <p class="m-0"><strong>Actividades</strong></p>
          <p class="m-0 mb-1">{{solicitud.proyecto.actividades}}</p>
  
          <p class="m-0"><strong>Tipo de actividades</strong></p>
          <p class="m-0 mb-1">{{solicitud.proyecto.tipo_actividades}}</p>
  
          <p class="m-0"><strong>Periodo de realización</strong></p>
          <p class="m-0 mb-1">{{solicitud.proyecto.periodo.nombre}}</p>
  
          <p class="m-0"><strong>Modalidad</strong></p>
          <p class="m-0 mb-1">{{solicitud.proyecto.modalidad}}</p>
  
          <p class="m-0"><strong>Tipo de programa</strong></p>
          <p class="m-0 mb-1">{{solicitud.proyecto.tipo}}</p>
  
          <p class="m-0"><strong>Lugar de desempeño</strong></p>
          <p class="m-0 mb-1">{{solicitud.proyecto.lugar_desempeno}}</p>
  
          <p class="m-0"><strong>¿Dentro de las instalaciones?</strong></p>
          <p class="m-0 mb-1" *ngIf="solicitud.proyecto.instalacion else instalacion">SI</p>
          <ng-template #instalacion>
            <p class="m-0 mb-1">NO</p>
          </ng-template>
          
  
      
          <p class="m-0"><strong>Horario</strong></p>
          <p class="m-0 mb-1">{{solicitud.proyecto.horario}}</p>
  
          <p class="m-0"><strong>¿Incluye apoco economico?</strong></p>
          <p class="m-0 mb-1" *ngIf="solicitud.proyecto.apoyo_economico else apoyoEconomico">SI</p>
          <ng-template #apoyoEconomico>
            <p class="m-0 mb-1">NO</p>
          </ng-template>
          
      </div>
    </div>
  
  </div>
</div>
<!-- =====================
== FIN INFORMACIÓN
======================= -->





  
<!-- =====================
== INFO VALIDACIÓN
======================= --> 
<div class="row animated fadeIn m-0 mt-3 mb-3 m-md-3 text-right" *ngIf="solicitud && !solicitud?.pendiente">
  <div class="col">
    <p class="mb-0"><strong>Usuario que valido:</strong> {{solicitud?.usuario_valido.nombre}}.</p>
    <p class="mb-0"><strong>Fecha de validación:</strong> {{solicitud?.fecha_validacion | date}}.</p>
  </div>
</div>
<!-- =====================
== FIN INFO VALIDACIÓN
======================= --> 


 