<h5>Solicitud de Proyecto de <small>{{solicitud?.alumno.nombre}}</small>
    <small>
            <span *ngIf="solicitud?.pendiente" class="badge badge-pill badge-warning text-white text-capitalize p-1 ml-1">Pendiente</span>
            <span *ngIf="solicitud?.rechazado" class="badge badge-pill badge-danger text-white text-capitalize p-1 ml-1">Rechazado</span>
            <span *ngIf="solicitud?.aceptado" class="badge badge-pill badge-success text-white text-capitalize p-1 ml-1">Aceptado</span>
    </small>
  </h5>
  
  <hr>


 
<!-- =====================
== MENSAJE SOLICITUD PENDIENTE
======================= -->
<div class="row animated fadeIn faster mt-3" *ngIf="this.solicitud?.pendiente">
    <div class="col-12">
        <div class="alert alert-warning">
            <p class="m-0">Tu solicitud de proyecto se ha enviado al <strong>Departamento de Gestión y Vinculación</strong> para su revisión, te informaremos cuando tengamos una respuesta.</p>
        </div> 
    </div>
  </div>
<!-- =====================
== FIN MENSAJE SOLICITUD PENDIENTE
======================= -->
<!-- =====================
== MENSAJE SOLICITUD RECHAZADA
======================= -->
<div class="row animated fadeIn faster mt-3" *ngIf="this.solicitud?.rechazado">
    <div class="col-12">
        <div class="alert alert-danger">
            <p class="m-0">Tu solicitud de proyecto se ha sido <strong>rechazada</strong>.</p>
            <p class="m-0"><strong>Motivo:</strong> {{ solicitud?.error?.motivo }}</p>
            <p class="m-0"><strong>Observación:</strong> {{ solicitud?.error?.observacion }}</p>
        </div> 
    </div>
  </div>
<!-- =====================
== FIN MENSAJE SOLICITUD RECHAZADA
======================= -->

<!-- =====================
== MENSAJE SOLICITUD ACEPTADA
======================= -->
<div class="row animated fadeIn faster mt-3" *ngIf="this.solicitud?.aceptado">
    <div class="col-12">
        <div class="alert alert-success">
            <p class="m-0">Tu solicitud de proyecto se ha sido <strong>aceptada</strong>.</p>
        </div> 
    </div>
  </div>
<!-- =====================
== FIN MENSAJE SOLICITUD ACEPTADA
======================= -->


<!-- =====================
== INFORMACIÓN
======================= -->
  <div class="row animated fadeIn fast m-3" *ngIf="solicitud">
  
      <div class="col-12">
          <div class="row">
              <div class="col-md-8">
  
                  <ul class="list-group text-dark mb-3">
                    
                    <li class="list-group-item active"><p class="m-0"><strong>Datos de la Dependencia</strong></p></li>
                    
                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-5 text-bold">
                            <strong>Nombre:</strong>
                        </div>
                        <div class="col-md-7 mt-md-0 mt-1">
                          <p class="m-0">{{ solicitud.proyecto.dependencia.nombre }}</p>
                        </div>
                      </div>
                    </li>
            
                    <li class="list-group-item">
                        <div class="row">
                          <div class="col-md-5 text-bold">
                              <strong>Titular:</strong>
                          </div>
                          <div class="col-md-7 mt-md-0 mt-1">
                            <p class="m-0">{{ solicitud.proyecto.dependencia.representante_legal }}</p>
                          </div>
                        </div>
                      </li>
            
            
                      <li class="list-group-item">
                        <div class="row">
                          <div class="col-md-5 text-bold">
                              <strong>Correo electrónico:</strong>
                          </div>
                          <div class="col-md-7 mt-md-0 mt-1">
                            <p class="m-0">{{ solicitud.proyecto.dependencia.email }}</p>
                          </div>
                        </div>
                      </li>
            
                      <li class="list-group-item">
                        <div class="row">
                          <div class="col-md-5 text-bold">
                              <strong>Domicilio:</strong>
                          </div>
                          <div class="col-md-7 mt-md-0 mt-1">
                            <p class="m-0">{{ solicitud.proyecto.dependencia.domicilio }}</p>
                          </div>
                        </div>
                      </li>
            
                  </ul>
            
                </div>
          </div>
      </div>
      
      
  
      <div class="col-12">
          <div class="row">
              <div class="col-md-12">
  
                  <ul class="list-group text-dark mb-3">
                    
                    <li class="list-group-item active"><p class="m-0"><strong>Datos del Proyecto</strong></p></li>
                    
                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-md-3 text-bold">
                            <strong>Nombre:</strong>
                        </div>
                        <div class="col-md-9 mt-md-0 mt-1">
                          <p class="m-0">{{ solicitud.proyecto.nombre }}</p>
                        </div>
                      </div>
                    </li>
            
                    <li class="list-group-item">
                        <div class="row">
                          <div class="col-md-3 text-bold">
                              <strong>Dependencia:</strong>
                          </div>
                          <div class="col-md-9 mt-md-0 mt-1">
                            <p class="m-0">{{ solicitud.proyecto.dependencia.nombre }}</p>
                          </div>
                        </div>
                      </li>
            
            
                      <li class="list-group-item">
                        <div class="row">
                          <div class="col-md-3 text-bold">
                              <strong>Responsable:</strong>
                          </div>
                          <div class="col-md-9 mt-md-0 mt-1">
                            <p class="m-0">{{ solicitud.proyecto.responsable }}</p>
                          </div>
                        </div>
                      </li>
            
                      <li class="list-group-item">
                        <div class="row">
                          <div class="col-md-3 text-bold">
                              <strong>Puesto del responsable:</strong>
                          </div>
                          <div class="col-md-9 mt-md-0 mt-1">
                            <p class="m-0">{{ solicitud.proyecto.puesto_responsable }}</p>
                          </div>
                        </div>
                      </li>
  
                      <li class="list-group-item">
                          <div class="row">
                            <div class="col-md-3 text-bold">
                                <strong>Objetivo:</strong>
                            </div>
                            <div class="col-md-9 mt-md-0 mt-1">
                              <p class="m-0">{{ solicitud.proyecto.objetivo }}</p>
                            </div>
                          </div>
                        </li>
  
                      <li class="list-group-item">
                        <div class="row">
                          <div class="col-md-3 text-bold">
                              <strong>Actividades:</strong>
                          </div>
                          <div class="col-md-9 mt-md-0 mt-1">
                            <p class="m-0">{{ solicitud.proyecto.actividades }}</p>
                          </div>
                        </div>
                      </li>
  
  
                      <li class="list-group-item">
                          <div class="row">
                            <div class="col-md-3 text-bold">
                                <strong>Periodo:</strong>
                            </div>
                            <div class="col-md-9 mt-md-0 mt-1">
                              <p class="m-0">{{ solicitud.proyecto.periodo.nombre }}</p>
                            </div>
                          </div>
                      </li>
  
                      <li class="list-group-item">
                        <div class="row">
                          <div class="col-md-3 text-bold">
                              <strong>Lugar de desempeño:</strong>
                          </div>
                          <div class="col-md-9 mt-md-0 mt-1">
                            <p class="m-0">{{ solicitud.proyecto.lugar_desempeno }}</p>
                          </div>
                        </div>
                      </li>
  
                      <li class="list-group-item">
                        <div class="row">
                          <div class="col-md-3 text-bold">
                              <strong>Modalidad:</strong>
                          </div>
                          <div class="col-md-9 mt-md-0 mt-1">
                            <p class="m-0">{{ solicitud.proyecto.modalidad }}</p>
                          </div>
                        </div>
                      </li>
  
  
                      <li class="list-group-item">
                          <div class="row">
                            <div class="col-md-3 text-bold">
                                <strong>Tipo:</strong>
                            </div>
                            <div class="col-md-9 mt-md-0 mt-1">
                              <p class="m-0">{{ solicitud.proyecto.tipo }}</p>
                            </div>
                          </div>
                      </li>
  
                      <li class="list-group-item">
                        <div class="row">
                          <div class="col-md-3 text-bold">
                              <strong>Horario:</strong>
                          </div>
                          <div class="col-md-9 mt-md-0 mt-1">
                            <p class="m-0">{{ solicitud.proyecto.horario }}</p>
                          </div>
                        </div>
                      </li>
  
  
                      <li class="list-group-item">
                          <div class="row">
                            <div class="col-md-3 text-bold">
                                <strong>Apoyo Económico:</strong>
                            </div>
                            <div class="col-md-9 mt-md-0 mt-1">
                              <p class="m-0" *ngIf="solicitud.proyecto.apoyo_economico">SI</p>
                              <p class="m-0" *ngIf="!solicitud.proyecto.apoyo_economico">NO</p>
                            </div>
                          </div>
                        </li>
            
                  </ul>
            
                </div>
          </div>
      </div>
  
  </div>
<!-- =====================
== FIN INFORMACIÓN
======================= -->
  