
<div *ngIf="modalService.modal" class="fondo-modal">
    <div class="modal" tabindex="-1" role="dialog"  style="display:block;">
      <div class="modal-dialog modal-dialog-scrollable modal-md" role="document">
        <!-- modal-dialog-centered  -->
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{aviso.titulo}}</h5>
            <button (click)="cerrarModal()" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
  
            <div class="row animated fadeIn fast m-3" >
              <div class="card col-md-12 p-0">
               
                 <img [src]="aviso.foto | imagen: 'avisos'" class="card-img-top" [alt]="aviso.titulo" *ngIf="aviso.foto">
                 <div class="card-body">
                   <p class="card-text">{{aviso.descripcion}}</p>
                   <p class="card-text"><small class="text-muted">{{aviso.fecha_publicacion | date}}</small></p>
                 </div>
      
              </div>
            </div>
  
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" (click)="cerrarModal()" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>